{% set buildEntry = ctx_page.get('build_entry', 'modern') %}
{% if app.request.isXmlHttpRequest() or app.request.get('_embeded') is same as('1') %}
    {% block raw %}{% endblock %}
{% else %}
    <!DOCTYPE html>
    <html lang="{{ ctx_page.get('seo.lang')|default('th') }}">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto" rel="stylesheet">
        {%- block metadata %}{% include '@ui/base/_metadata.html.twig' %}{% endblock %}
        {%- block seo %}{% include '@ui/base/_seo.html.twig' %}{% endblock %}
        {%- block favicon %}{% endblock %}
        {% modify jsmin -%}{%- block scripts %}{% endblock %}{%- endmodify %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
            <link rel="stylesheet" href="{{ asset('build/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('build/confirm.css') }}">
            <link rel="stylesheet" href="{{ asset("build/#{buildEntry}/style.css") }}">
        {% endblock %}
        {%- block extra_css %}{% endblock %}
    </head>
    <body>
    {% block body %}
        {% block menu %}
            {% include '@ui/modern/menu/_main.html.twig' %}
            {% include '@ui/modern/menu/_child.html.twig' %}
        {% endblock %}

        {% block navication %}
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="collapse navbar-collapse">
                    {% block breadcrumb %}
                        {% include '@ui/modern/_breadcrumb.html.twig' %}
                    {% endblock %}
                </div>
                <ul class="navbar-nav ml-auto">
                    {% block navbar %}
                        {% include '@ui/modern/_navbar.html.twig' %}
                    {% endblock %}
                </ul>
            </nav>
        {% endblock %}

        {% block aside %}
            {% include '@ui/modern/aside/_main.html.twig' %}
        {% endblock %}

        <div class="container-fluid">
            {% block flash %}{% include '@ui/base/_flash.html.twig' %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset("build/#{buildEntry}/app.js") }}"></script>
    {% endblock %}
    </body>
    </html>
{% endif %}
