{% if 'NA' == data.country and 'NA' == data.city %}
    <span class="badge badge-danger">NA</span>
{% else %}
    {{ data.countryCode|upper }} - {{ data.country }}, {{ data.city }} {{ data.zip }}
{% endif %}
<br>
<strong class="badge badge-info">{{ 'chang.ui.security_audit.client'|trans }}</strong> <small>{{ data.userAgent }}</small>
